

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Paleta de colores piel */
/* #F9DAD5 */
/* #DFAE9D      */
/* #D29378      */
/* #9F5748      */
/* #642C1F      */

body {
  background-color: antiquewhite;
}

.carrusel{
  text-align: center;
}
.carrusel h1{
  margin: 1rem;
}
.respuestas {
  width: 100%;
}

.botones {
  color: #642C1F;
  font-weight: bold;
  background-color: #DFAE9D;
  border: #642C1F solid 1px;
  margin: 5px;
}

.botones:hover {
  color: #D9C8B4;
  font-weight: bold;
  background-color: #401A0C;
  border: #D9C8B4 solid 1px;
}

.botones-grandes{
  font-size: 1.2rem;
  font-weight: bolder;
  color: #642C1F;
  background-color: #DFAE9D;
  border: #642C1F solid 1px;
  margin-top: 2rem;
  width: 12rem;
  height: 3.5rem;
}
.botones-grandes:hover{
  color: #D9C8B4;
  font-weight: bold;
  background-color: #401A0C;
  border: #D9C8B4 solid 1px;
}

.boton-pulsado{
  color: #D9C8B4;
  font-weight: bold;
  background-color: #401A0C;
  border: #D9C8B4 solid 1px;
  margin: 5px;
}
.boton-pulsado:hover{
  color: #401A0C;
  font-weight: bold;
  background-color: #D9C8B4;
  border: #401A0C solid 1px;
  margin: 5px;
}

.aviso{
  color: #A64941;
  font-weight: bolder;
  font-size: 2rem;
}

.pregunta {
  color: #401A0C;
  background-color: #D29378;
  border: #401A0C solid 1px;
  border-radius: 24px;
  padding: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.body-resultado {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.body-resultado>h1 {
  padding-top: 1rem;
  background-color: white;
  width: 100%;
  height: 5rem;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
  text-align: center;
  font-size: 3rem;
}

.parrafos {
  margin-left: 5rem;
  margin-right: 5rem;
  text-align: left;
}

.imagen {
  width: 300px;
  height: auto;
  margin-left: 5.5rem;
  margin-top: 2rem;
}

.carta-pieles {
  width: 30rem;
  margin: 2rem;
}

.text-carta {
  text-align: left;
  font-weight: 400;
  border-radius: 10px;
}
