.App {
    box-sizing: border-box;
    margin: 0;
    padding: 1rem;
}


header{
  border: 1px solid red;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img#user{
  width: 40px;
  cursor: pointer;
}

p#mensajeError{
  color: red;
  padding-top: 1rem;
  font-weight: bold;
}

h1{
  text-align: center;
}

div.contenedorReservas{
  display: flex;
  flex-direction: column;
}

div.reservasPeluqueros{
  display: flex;
  flex-direction: row;
  border: 1px solid blue;
  padding: 1rem;
  margin: 1rem 0;
}

img.imgPeluqueros{
  width: 200px;
  border-radius: 100%;
}

p.nombrePeluqueros{
  text-align: center;
}

div.mostrarReserva{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem 1rem; 
  height: 190px;
  padding: 1rem;
  color: white;
  background-color: grey;
  border-radius: 30px;
}


div.diasSeleccion{
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 40px;
}